pkgbase = python-keyring
	pkgdesc = Store and access your passwords safely
	pkgver = 24.3.0
	pkgrel = 1
	url = https://github.com/jaraco/keyring
	arch = any
	license = PSF
	license = MIT
	checkdepends = python-pytest-flake8
	checkdepends = python-pytest-runner
	checkdepends = python-pytest-black
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-mypy
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-jaraco.classes
	depends = python-secretstorage
	depends = python-importlib-metadata
	optdepends = python-keyrings-alt: Alternative backends
	optdepends = python-dbus: kwallet backend
	source = https://files.pythonhosted.org/packages/source/k/keyring/keyring-24.3.0.tar.gz
	sha512sums = 22467924420cc8646ebb10e2aa851e734c0a2ba9a7298987eba0849dbcba0abd295705f3b80fb6975c24e07ec029c0e406213275fa209fe2ca3e5b0c114e1612
	b2sums = 6f68a6057f25c4e9841e04f2977da0401f09e15c6aeb04d12440de054049af9ece867befdd9fd26acab27cf0a00f3eeba9b7989c74eae88f96411f53cf86e594

pkgname = python-keyring
